{% extends 'dashboard/index.html' %}
<html>
<head>
<meta charset="utf-8">
{% block title %} 欢迎！{% endblock %}

<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="/static/bootstrap/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/static/bootstrap/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="/static/css/amazeui.min.css"/>
<link rel="stylesheet" href="/static/css/admin.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/amazeui.min.js"></script>


{% block content %}
    <center><h3 style="color: red; margin-left: 20px; margin-top: 12px;" >具体权限请找：宋锦程开通相应权限模块</h3></center>
{% endblock %}

